
*.xcuserstate

PitchPerfect.xcodeproj/project.xcworkspace/xcuserdata/jsstrn.xcuserdatad/UserInterfaceState.xcuserstate

PitchPerfect.xcodeproj/project.xcworkspace/xcuserdata/jsstrn.xcuserdatad/UserInterfaceState.xcuserstate
